body{
    background-repeat:no-repeat;
    background-size: cover;
    margin-top:0;
    margin-left:0;
    margin-left:0;
    margin-right:0;
    background-color: yellow;
}
#page{
    width: 2560px;
    height: 1440px;
    position: absolute;
}
h1{
    color: red;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
h2{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}
pre{
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
}
#time{
    margin-bottom: 0px;
}
#info{
    font-size: 15px;
}
#NBA_logo{
    width: 30px;
    height: 33px;
}
#Lakers_logo{
    position: absolute;
    width: 120px;
    height: 100px;
    margin-top:-180px ;
}
#Jazz_logo{
    position: absolute;
    width: 120px;
    height: 100px;
    margin-top:-180px ;
    margin-left: 1200px;
}
#present{
    margin-left: 400px;
    margin-right: 400px;
    width: 600px;
    height:200px;
}
#score{
    margin-left: 255px;
    font-size: 25px;
    margin-bottom: 0px;
    margin-top: 0px;
}
#final{
    margin-left: 265px;
    font-size: 25px;
    margin-bottom: 0px;
    margin-top: 0px;
}
h3{
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 200px;
}
h2{
    margin-left: -50px;
}
h1{
    margin-left: 0px;
}
#court{
    width: 800px;
    height: 400px;
    border: solid red 3px;
    margin-left: 300px;
    margin-top: 50px;
    background-image: url(./photo/opz4v3uuqlvz-e1562588101846-800x400.jpg);
}
#centre_line{
    border: 2px solid red;
    width: 0px;
    height: 400px;
    margin-left: 400px;
}
#center_circle{
    width: 25px;
    height: 25px;
    border: 2px solid red;
    border-radius: 50%;
    margin-left: 387.5px;
    margin-top: -212.5px;
}
#big_center_circle{
    width: 75px;
    height: 75px;
    border: 2px solid red;
    border-radius: 50%;
    margin-left: 363.5px;
    margin-top: -52px;
    position: absolute;
}
#left_3point_circle{
    width: 280px;
    height: 350px;
    border: solid red 3px;
    border-radius: 0 100% 100% 0;
    margin-top: -193px;
    border-left: none;
}
#left_square{
    width: 180px;
    height: 120px;
    border:solid red 3px;
    position: absolute;
    margin-left: -2px;
    margin-top: -239px;
}
#left_line{
    border:solid red 1px;
    width: 0px;
    height:60px;
    margin-left: 30px;
    margin-top: 29px;
}
#left_small_circle{
    border:solid red 1px;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    margin-left: 32px;
    margin-top: -39px;
}
#left_half_circle{
    border-radius: 0% 100% 100% 0%;
    width: 80px;
    height: 80px;
    margin-top: -50px;
    border-right:solid red 3px;
}
#left_circle{
    height: 120px;
    width: 120px;
    border-radius: 100%;
    border:solid red 3px;
    margin-left: 120px;
    margin-top: -239px;
    border-left-style: dashed;
    border-bottom-style: dashed;
}
#right_3point_circle{
    width: 280px;
    height: 350px;
    border: solid red 3px;
    border-radius: 100% 0% 0% 100%;
    margin-top: -240px;
    margin-left: 520px;
    border-right:none ;
}
#right_square{
    width: 180px;
    height: 120px;
    border:solid red 3px;
    position: absolute;
    margin-left: 618px;
    margin-top: -239px;
}
#right_line{
    border:solid red 1px;
    width: 0px;
    height:60px;
    margin-left: 148px;
    margin-top: 29px;
}
#right_small_circle{
    border:solid red 1px;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    margin-left: 131px;
    margin-top: -39px;
}
#right_half_circle{
    border-radius: 100% 0% 0% 100%;
    width: 80px;
    height: 80px;
    margin-top: -50px;
    margin-left: 100px;
    border-right:solid white 2px;
    border-left:solid red 3px;
}
#right_circle{
    height: 120px;
    width: 120px;
    border-radius: 100%;
    border:solid red 3px;
    margin-left: 120px;
    margin-top: -239px;
    border-right-style: dashed;
    border-top-style: dashed;
    margin-left: 555px;
}
#kobe_bryant{
    border:solid black 3px;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin-left: 40px;
    margin-top: 30px;
    background-image: url(./photo/kobe_circle.png);
    background-size: cover;
    cursor: pointer;
}
#julius_randle{
    border:solid black 3px;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin-left: 40px;
    margin-top: -290px;
    background-image: url(./photo/20000710.png);
    background-size: cover;
    background-position-x: -10px;
    cursor: pointer;
}
#roy_hibbert{
    border:solid black 3px;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin-left: 90px;
    margin-top: 70px;
    background-image: url(./photo/PlayerHeadshot.png);
    background-size: cover;
    cursor: pointer;
}
#jordan_clarkson{
    border:solid black 3px;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin-left: 190px;
    margin-top: 50px;
    background-image: url(./photo/i.png);
    background-size: cover;
    background-position-x: -10px;
    cursor: pointer;
}
#d_angelo_russell{
    border:solid black 3px;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin-left: 190px;
    margin-top: -260px;
    background-image: url(./photo/dangelo.png);
    background-size: cover;
    cursor: pointer;
}
#trey_lyles{
    border:solid black 3px;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin-left: 700px;
    margin-top: -240px;
    background-image: url(./photo/usa_today_11311854.0.jpg);
    background-size: cover;
    cursor: pointer;
    background-position-x: -10px;
}
#gordon_hayward{
    border:solid black 3px;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin-left: 700px;
    margin-top: 200px;
    background-image: url(./photo/202330.png);
    background-size: cover;
    cursor: pointer;
    background-position-x: -8px;
}
#jeff_withey{
    border:solid black 3px;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin-left: 660px;
    margin-top: -175px;
    background-image: url(./photo/whitey.png);
    background-size: cover;
    cursor: pointer; 
    background-position-x: -8px;
}
#rodney_hood{
    border:solid black 3px;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin-left: 555px;
    margin-top: -155px;
    background-image: url(./photo/20000839.png);
    background-size: cover;
    cursor: pointer;
    background-position-x: -8px;
}
#shelvin_mack{
    border:solid black 3px;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin-left: 555px;
    margin-top: 170px;
    background-image: url(./photo/34443-1-5d97773445481.jpg);
    background-size: cover;
    cursor: pointer;
    position: absolute;
}
#marcelo_huertas{
    border:solid black 3px;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin-left: 0px;
    margin-top: 100px;
    background-image: url(./photo/huertas.png);
    background-size: cover;
    cursor: pointer;
    position: absolute;
    background-position-x: -8px;
}
#tarik_black{
    border:solid black 3px;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin-left: 50px;
    margin-top: 100px;
    background-image: url(./photo/index.jpg);
    background-size: cover;
    cursor: pointer;
    position: absolute;
}
#larry_nance{
    border:solid black 3px;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin-left: 100px;
    margin-top: 100px;
    background-image: url(./photo/ad389979-d1d5-4f26-ad64-3e516b3373a3v2.jpg);
    background-size: cover;
    cursor: pointer;
    position: absolute;
}
#ryan_kelly{
    border:solid black 3px;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin-left: 150px;
    margin-top: 100px;
    background-image: url(./photo/ryan.png);
    background-size: cover;
    cursor: pointer;
    position: absolute;
    background-position-x: -8px;
}
#brandon_bass{
    border:solid black 3px;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin-left: 200px;
    margin-top: 100px;
    background-image: url(./photo/2745.png);
    background-size: cover;
    cursor: pointer;
    position: absolute;
    background-position-x: -8px;
}
#trevor_booker{
    border:solid black 3px;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin-left: 750px;
    margin-top: 100px;
    background-image: url(./photo/booker.png);
    background-size: cover;
    cursor: pointer;
    position: absolute;
    background-position-x: -8px;
}
#joe_ingles{
    border:solid black 3px;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin-left: 700px;
    margin-top: 100px;
    background-image: url(./photo/ingles.png);
    background-size: cover;
    cursor: pointer;
    position: absolute;
    background-position-x: -8px;
}
#chris_johnson{
    border:solid black 3px;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin-left: 650px;
    margin-top: 100px;
    background-image: url(./photo/jonson.png);
    background-size: cover;
    cursor: pointer;
    position: absolute;
}
#raul_neto{
    border:solid black 3px;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin-left: 600px;
    margin-top: 100px;
    background-image: url(./photo/neto.png);
    background-size: cover;
    cursor: pointer;
    position: absolute;
}
#trey_burke{
    border:solid black 3px;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin-left: 550px;
    margin-top: 100px;
    background-image: url(./photo/burke.png);
    background-size: cover;
    cursor: pointer;
    position: absolute;
    background-position-x: -8px;
}
#lakers_bench{
    font-size: 20px;
    position: absolute;
    margin-left: 360px;
    margin-top: 50px;
    color: red;
}
#jazz_bench{
    font-size: 20px;
    position: absolute;
    margin-left: 920px;
    margin-top: 50px;
    color: red;
}
#lakers_table{
    border: solid black 2px;
    position: absolute;
    width: 200px;
    height: 400px;
    margin-top: -400px;
    margin-left: 65px;
    border-collapse: collapse;
}
tr,th,td{
    border:solid black 2px;
    border-collapse: collapse;
    height:25px;
}
#jazz_table{
    border: solid black 2px;
    position: absolute;
    width: 200px;
    height: 400px;
    margin-top: -400px;
    margin-left: 1140px;
    border-collapse: collapse;
}


